.main {
    width: 500px;
    max-height: 440px;
    padding: 0;
    margin: 0 auto;
    background-color: rgb(168, 255, 128);
}
  
@media (min-width: 1440px) {
.main {
    width: 600px;
    max-height: 528px;
}
}