.error {
    width: 250px;
    height: 250px;

    margin: 50px auto;
    padding: 25px 0;
    text-align: center;
    background-color: red;

    h2 {
        font-size: 50px;
    }
    p {
        font-weight: bold;
        font-size: 100px;
    }

}