* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.main {
  width: 500px;
  padding: 0;
  margin: 0 auto;
  background: rgb(168, 255, 128);
}
button {
  outline: none;
  transition: .2s ease-out;
}
button:hover {
  border: 1px solid rgb(136, 136, 136);
  background: rgb(235, 255, 224);
}