.item {
    padding-bottom: 2px;
}
.item:last-child {
    padding-bottom: 10px;
}
.item input[type=checkbox] {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px;
    outline: none;
    border: 1px solid silver;
    border-radius: 5px;
}
.item input[type=text] {
    width: 400px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: 1px solid silver;
    border-radius: 5px;
}
.item button {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid silver;
    border-radius: 7px;
    background: white;
}