.item {
    padding-bottom: 2px;

    &:last-child {
        padding-bottom: 10px;
    }
    .icon {
        position: absolute;
        cursor: pointer;
        width: 28px;
        height: 28px;
        margin: 11px;
        margin-left: 8px;
        transition: {
            duration: .2s;
            timing-function: ease-out;
        }
        background-image: url(./icons/star_border-24px.svg);

        &:hover {
            background-image: url(./icons/star_half-24px.svg);
        }
        &:active {
            background-image: url(./icons/star-24px.svg);
        }
    }
    .favorite {
        @extend .icon;
        
        background-image: url(./icons/star-24px.svg);
        &:active {
            background-image: url(./icons/star_border-24px.svg);
        }
    }
    input[type=checkbox] {
        position: relative;
        float: left;
        width: 30px;
        height: 30px;
        margin: 10px;
        outline: none;
        border: 1px solid silver;
        border-radius: 5px;
    }
    input[type=text] {
        width: 360px;
        height: 50px;
        padding-left: 10px;
        outline: none;
        border: 1px solid silver;
        border-radius: 5px;
    }
    button {
        position: absolute;
        width: 30px;
        height: 30px;
        margin: 10px;
        margin-left: 43px;
        border: 1px solid silver;
        border-radius: 7px;
        background-color: white;
    }
}

@media (min-width: 1440px) {
.item {
    &:last-child {
        padding-bottom: 12px;
    }
    input[type=checkbox] {
        position: relative;
        float: left;
        width: 36px;
        height: 36px;
        margin: 12px;
        outline: none;
        border: 1px solid silver;
        border-radius: 6px;
    }
    input[type=text] {
        width: 480px;
        height: 60px;
        padding-left: 12px;
        outline: none;
        border: 1px solid silver;
        border-radius: 6px;
    }
    button {
        width: 36px;
        height: 36px;
        margin-left: 12px;
        border: 1px solid silver;
        border-radius: 8px;
        background-color: white;
    }
}
}